*.icon-white {color: white}
*.icon-silver {color: silver}
*.icon-green {color: green}
*.icon-dark {color: gray}
*.icon-red {color: red}

.form-group {
  margin-bottom: 25px;
}

.home {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:link {
  text-decoration: none;
 
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: blue; 
}

a:active {
  text-decoration: underline;
  color: blue; 
}

h1 {
	text-align:center;
}